<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
    <div class="container-fluid col-ml-5">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-3 custom-navbar ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Категории </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="/Category/ParentCategory/1"> Компютри и компоненти</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Product/All/1">Настолни компютри</a></li>
                                <li><a class="dropdown-item" href="/Product/All/2">Процесори</a></li>
                                <li><a class="dropdown-item" href="/Product/All/3">Дънни платки</a></li>
                                <li><a class="dropdown-item" href="/Product/All/4">Видео карти</a></li>
                                <li><a class="dropdown-item" href="/Product/All/5">Хард дискове</a></li>
                                <li><a class="dropdown-item" href="/Product/All/6">Кутии</a></li>
                                <li><a class="dropdown-item" href="/Product/All/7">DVD, BlurRay</a></li>
                                <li><a class="dropdown-item" href="/Product/All/8">Вентилатори и Охладители</a></li>
                                <li><a class="dropdown-item" href="/Product/All/9">Звукови карти</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="/Category/ParentCategory/2"> Лаптопи и компоненти</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Product/All/2">Лаптопи</a></li>
                                <li><a class="dropdown-item" href="/Product/All/11">Процесори за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/12">Дънни платки за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/13">Видео карти за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/14">Хард дискове за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/15">Кутии за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/16">Захранвания за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/17">Вентилатори за лаптоп</a></li>
                                <li><a class="dropdown-item" href="/Product/All/18">Матрици за лаптоп</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="/Category/ParentCategory/3"> Периферия и Принтери</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Product/All/19">Клавиатури</a></li>
                                <li><a class="dropdown-item" href="/Product/All/20">Мишки</a></li>
                                <li><a class="dropdown-item" href="/Product/All/21">Монитори</a></li>
                                <li><a class="dropdown-item" href="/Product/All/22">Проектори и екрани</a></li>
                                <li><a class="dropdown-item" href="/Product/All/23">Уеб камери</a></li>
                                <li><a class="dropdown-item" href="/Product/All/24">Принтери и Консумативи</a></li>
                                <li><a class="dropdown-item" href="/Product/All/25">UPS</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="/Category/ParentCategory/4"> Мрежи и Кабели</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Product/All/26">Бежични мрежи</a></li>
                                <li><a class="dropdown-item" href="/Product/All/27">Жични мрежи</a></li>
                                <li><a class="dropdown-item" href="/Product/All/28">Захранващи кабели</a></li>
                                <li><a class="dropdown-item" href="/Product/All/29">USB кабели</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="/Category/ParentCategory/5"> Телефони и Таблети</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Product/All/30">Телефони</a></li>
                                <li><a class="dropdown-item" href="/Product/All/31">Аксесоари за телефони</a></li>
                                <li><a class="dropdown-item" href="/Product/All/32">Таблети</a></li>
                                <li><a class="dropdown-item" href="/Product/All/33">Аксесоари за таблети</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="promotion.html">Промоции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="services.html">Сервизни услуги</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="about.html">За нас</a></li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="contact.html">Контакти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
