<div class="filters col-lg-3 col-md-12">
    <button class="btn btn-outline-secondary border p-1" id="filterButton"><span class="fw-bold">Филтрирай</span></button>

    <div class="filter-items">
        <form method="post" id="form-filter-price">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="price" type="checkbox" value="0-100">
                    <label class="form-check-label me-5" for="flexCheckDefault">
                        0-100
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="price" type="checkbox" value="100-200">
                    <label class="form-check-label me-5" for="flexCheckDefault">
                        100-200
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" type="checkbox" value="200-300">
                    <label class="form-check-label me-5" for="flexCheckDefault">
                        200-300
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" type="checkbox" value="300-400">
                    <label class="form-check-label me-5" for="flexCheckDefault">
                        300-400
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" type="checkbox" value="500">
                    <label class="form-check-label me-5" for="flexCheckDefault">
                        500
                    </label>
                </div>
            </div>
        </form>
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Производител</h5>
                <form method="post" id="form-filter-brand">
                <div class="form-check pb-2">
                    <input class="form-check-input" name="brand" type="checkbox" value="Hp">
                    <label class="form-check-label me-5">
                        HP
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="brand" type="checkbox" value="Lenovo">
                    <label class="form-check-label me-5">
                        Lenovo
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" type="checkbox" value="Dell">
                    <label class="form-check-label me-5">
                        Dell
                    </label>
                </div>
            </form>
            </div>

        <form method="post" id="form-filter">
             <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Процесор</h5>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="cpu" type="checkbox" value="Intel">
                    <label class="form-check-label me-5">
                        Intel
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="cpu" type="checkbox" value="AMD">
                    <label class="form-check-label me-5">
                        AMD
                    </label>
                </div>
            </div>

            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Рам</h5>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="ram" type="checkbox" value="4">
                    <label class="form-check-label me-5">
                        4 GB
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="ram" type="checkbox" value="8">
                    <label class="form-check-label me-5">
                        8 GB
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" name="ram" type="checkbox" value="16">
                    <label class="form-check-label me-5">
                        16 GB
                    </label>
                </div>
            </div>
            </form>
    </div>
</div>