@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="py-5">
        <!-- Contact form-->
        <div class="bg-light py-5 ">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Вход</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <!-- Username input-->
                        <div class="mb-3">
                            <input asp-for="Input.Email" class="form-control" placeholder="Поща" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Input.Password" class="form-control" type="password" placeholder="Парола" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Вход</button>
                        </div>
                    </form>
                    <p class="py-3">Нямаш акаунт ? <a href="/Identity/Account/Register">Регистрация</a></p>
                </div>
            </div>
        </div>
</section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
