@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="">
    <div class="container">
        <div class="row mx-auto ">
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6 border-right">
                        @RenderBody()
                    </div>
                        <div class="col-md-6">
                            <partial name="_ManageNav" />
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
